%main.main
  %section.content
    %h2 Hi! Welcome to my website!
    %p My name is Tom and this is my website. I made this website and I make websites for a living. I work as a web developer!
    %p I use HTML and CSS frequently in my job as well as Javascript and even Ruby! It requires a lot of skill as you can probably tell.
    %p In my spare time, I like running but most of the time I hurt myself so I stop running. I like watching old episodes of children's TV shows as well.
    %p I frequently fantasise about buying a 90s RWD Japanese car so I can crash it while drifting and pretending I'm in an episode of Initial D.
    %p That's all folks! Stay tuned for some more updates to my website!
  %aside.sidebar
    .links
      %h2 Links
      .link
        = image_tag 'link.gif'
        = link_to 'Home', '#'
      .link
        = image_tag 'link.gif'
        = link_to 'Pictures', '#'
      .link
        = image_tag 'link.gif'
        = link_to 'About me', '#'
