%footer.footer
  .footer__top
  .footer__section
    .table
      .table-cell
    %h3 Webmaster: Tom
    = image_tag 'email.gif'
    = image_tag 'worm1.gif'
    = image_tag 'net2.gif'
    = image_tag 'net3.gif'
    = image_tag 'rsaclabel.gif'

  .line-spacer
  .footer__bottom
    = image_tag 'copyright.gif'
    %span 1994, Tom
